@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

* {
    box-sizing: border-box;
}

h1{
    color: blue;
    font-family: ubuntu;
}


div {
    width: 100px; 
    height: 100px;
    border: 1px solid red;
    margin: 10%;
 }