*{
    margin: 0;
}

.formulario{
    background-color: #3A2D80;
    padding: 40px;
}
form{
    background-color: rgb(141, 78, 241);
}
legend{
    font-size: 20px;
}
label{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    border-radius: 0.3em;
}

textarea{
    border-radius: 0.3em;
}
button{
    font-size: 15px;
}