ul li:first-child{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

article p:nth-of-type(1){
    font-size: 30px;
    color: blue;
}

div p:nth-child(3){
    color: red;
    
}

section p:nth-child(odd){
    color: blueviolet;
    background: #eee;
}
section p:nth-child(even){
    color: blue;
    background: rgb(165, 161, 161);
}


a:hover{
    color: blueviolet;
    font-size: 25px;
}

input:focus{
    border-color: blue;
    background: grey;
    outline: none;
}

input:disabled{
    background-color: red;
}

input:required{
    background-color: greenyellow;
}