<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <!--
    #Page Layouts

    -Tables
    -Floats e clear
    -Frameworks e Grid Systems
    -Flexbox
    -Grid
-->

<!--
    #Posicionamento

    -Controlar onde na pagina, o elemento ira ficar,
    alterando o fluxo normal dos elementos

    -Name: position
    -Value: static|relative|absolute|fixed

    Por padrao ja vem static os elementos

---------------------------------------------------------
    #Relative

    Libera as seguintes propriedades, abaixo:

    - top, right, botton, left, z-index

---------------------------------------------------------
    #Absolute

    Libera as seguintes propriedades, abaixo:

    - top, right, botton, left, z-index

---------------------------------------------------------

    #Fixed
    Libera as seguintes propriedades, abaixo:

    - top, right, botton, left, z-index

    deixa o elemento fixado na tela mesmo rolando a pagina pelo scrool

---------------------------------------------------------
    #Element Stacking

    Empilhamento de elementos na tela

    

-->

<div class="box1 box"></div>
<div class="box2 box"></div>
<div class="box3 box"></div>
<div class="box4 box"></div>



</body>
</html>

